.contenedor{

    background-color: $celeste;
    display: flex;
    justify-content: space-between;

    .contenedor-nombre{
        display: flex;
        text-align: center center;
        padding: 20px;
        font-size: 20px;
        padding-bottom: 50px;

        .nombre{
            padding: 20px;
            color: white;
            font-size: 35px;
            text-align: left;
        }
    }

    .navegador{
        display: flex;
        margin-top: 23px;
        margin-right: 10px;
        font-size: 18px;
        padding: 40px;
        gap: 8px;
        letter-spacing: .5px;

        .item a {
            text-decoration: none;
            color: white;
        }
        
        .item{
           
            list-style: none;
            color: white;
        }
    }
    
    
}

$links-bg: (
    index: rgb(103, 35, 35),
    jujuy: rgb(43, 157, 79),
    mendoza: rgb(53, 93, 64),
    neuquen: rgb(76, 219, 102),
    cordoba: rgb(16, 123, 44)
);

@each $link, $color in $links-bg {
    .item-#{$link}:hover {
        background-color: $color;
        font-size: 25px;
    }
};

.item-index:hover{
    color: map-get($links-bg, cordoba);
}

.item-jujuy:hover{
    color: map-get($links-bg, index);
}

.item-mendoza:hover{
    color: map-get($links-bg, index);
}

.item-neuquen:hover{
    color: map-get($links-bg, cordoba) !important;
}

.item-cordoba:hover{
    color: map-get($links-bg, index);
}